.primaryButton {
    background-color: #FC8454;
    color: black;
    padding: 0.2em 1em;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 0.3em;
    transition: all 0.3s ease;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
    overflow: hidden;
  }
 
  .secondaryButton {
    background-color: black;
    color: #FFCA3A;
    padding: 0.5em 1em;
    font-size: 1.3rem;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #FFCA3A;
    margin-right: 0.3em;

  }
  .secondaryButton:hover {
    background-color: lighten(black, 20%);
    opacity: .7;
  }
  .primaryButton:hover {
    background-color: #FCC6B0;
    box-shadow: 0px 2px 10px 5px #D73800;
  }
  